<launch>

	<node pkg="xsens_driver" type="xsens_logger.py" name="xsens_logger" output="screen" />
	
	<!-- <node pkg="hardware_interfaces" type="compass_oceanserver.py" name="ocean_server" /> -->
	
	<node pkg="xsens_driver" type="mtdevice.py" name="xsens_driver" output="screen" respawn="true" />
	
</launch>
