<launch>
  
    <!-- System Parameters! -->
    <rosparam file="$(find delphin2_mission)/launch/default_parameters.yaml" command ="load"/>
    <rosparam file="$(find delphin2_mission)/launch/parameters/sonar.yaml" command ="load"/>

    <param name="xsens/filter_profile" value="39" />
    <param name="mission/Heading1" value="290" />
    <param name="mission/Depth" value="0.0" />
    <param name="mission/Altitude" value="0.0"/>
    <param name="mission/Prop" value="22.0" /> 

    <!-- Load AUV System! -->
    <include file="$(find delphin2_mission)/launch/system_loader.txt" />
 
   
    <!-- Mission File! -->
    <node name="mission_script" pkg="delphin2_mission" type="mission_script_along_towing_tank_at_depth.py"  output="screen" required="true" />
    <node pkg="rosbag" type="record" name="rosbag_record_all" args="record -a -o lamont.bag"/>
</launch>
