<launch>

    <!-- System Parameters! -->
    <rosparam file="$(find delphin2_mission)/launch/default_parameters.yaml" command ="load"/>
    <param name="RC/thruster" value="660" />
    <param name="RC/prop" value="15" />
    <param name="RC/onTime" value="1" />

    <!-- <rosparam file="$(find delphin2_mission)/launch/parameters/sonar.yaml" command="load"/>
    <param name="sonar/LLim" value ="270" />  
    <param name="sonar/RLim" value ="90" />
    <param name="sonar/Step" value ="32" /> -->


 
    <!-- AUV system! -->
    <include file="$(find delphin2_mission)/launch/set_auv_system.txt" /> 

    <!-- ADDITIONAL NODES 
    -->
    <!-- <node name="sonar_node" pkg="hardware_interfaces" type="sonar_node" />
    <node name="sonar_detect" pkg="hardware_interfaces" type="sonar_detect" /> -->
    <node name="remote_control" pkg="hardware_interfaces" type="remote_control" required="true"/>

</launch>
