<launch>
    <rosparam file="$(find delphin2_mission)/launch/default_parameters.yaml" command="load"/>
    <rosparam file="$(find delphin2_mission)/launch/parameters/default_sonar.yaml" command="load"/>


    <!-- NODES 
    -->

    <node name="sonar_node" pkg="hardware_interfaces" type="sonar_node" />
    <node name="sonar_detect" pkg="hardware_interfaces" type="sonar_detect" />

    <node name="sonar_pseudo_alt" pkg="hardware_interfaces" type="sonar_pseudo_altitude" />
 
</launch>
