<launch>

    <!-- System Parameters! -->
    <rosparam file="$(find delphin2_mission)/launch/default_parameters.yaml" command ="load"/>
    <rosparam file="$(find delphin2_mission)/launch/parameters/sonar.yaml" command ="load"/>
    <param name="thruster/SetpointMax" value ="145" />

    
    <!-- Load AUV System! -->
    <include file="$(find delphin2_mission)/launch/system_loader.txt" />
    
    <!-- Mission File! -->
    <node name="mission_script" pkg="delphin2_mission" type="mission_script_testDryLand.py"  output="screen" required="true" /> 

</launch>
